{% extends 'main/base.html' %}
{% load static %}

{% block title %}院長紹介｜さがら小児科{% endblock %}

{% block content %}
<p>当院は、中津市沖代小学校近く、沖代郵便局横の小児科クリニックです。</p>
<p>開業以来、地域の子供たちの健やかな成長のために診療してまいりました。</p>
<p>今後も初心を忘れず、小児医療に努めてまいります。</p>
<h2>院長紹介</h2>
<p>院長の合志光史（ごうしてるふみ）です。</p>
<p>平成元年に当時の国立中津病院小児科勤務となり、坪井千鶴先生、相良勝臣先生と「運命の！」出会いがありました。</p>
<p>その時は判りませんでしたが、「中津に骨を埋める」発端となりました。</p>
<p>平成5年から国立中津病院小児心臓外来非常勤招聘医、平成13年に中津市民病院小児科常勤医を経て、令和元年からご縁があり、現職となりました。</p>
<p>そのため若い頃診させていただいた方がお母さまに、お子様を連れて来ていたお母さまが、おばあちゃま、時にはひいおばあちゃまになられて再会することがあります。</p>
<p>一貫して、「坪井イズム・相良イズムの継承者」と自負しております。</p>
<p>即ち、「中津および近郊地域のこどもたちの為に」をモットーに、小児科医人生を全うするつもりでおります。</p>
<p>よろしくお願い申し上げます。</p>
<img src="{% static 'images/IMG_0364.jpg' %}" alt="診療サービス" class="cropped-image">
{% endblock %}